# Copia este arquivo pra .env.local e preencha
# .env.local NÃO é commitado (.gitignore)

# URL do backend (Cloud Function)
VITE_API_URL=https://biblioteca-data-453955675457.southamerica-east1.run.app

# Google OAuth Client ID (público — pode commitar até)
VITE_GOOGLE_CLIENT_ID=453955675457-f3kq1mc8bnucge5tn222nb6tjuobh4gh.apps.googleusercontent.com

# Restrição de domínio
VITE_ALLOWED_HD=hypr.mobi
